<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Shop Search Form</title>
  </head>
  <body>
    <div class="shopSearchForm">
      <h1>Search for Shops</h1>
      <form action="/shop-list" method="get">
        <label>Minimum Rating</label>
        <input type="number" name="minRating" />
        <button type="submit">Search</button>
      </form>
    </div>
  </body>
</html>