<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Web Page Shop</title>
  </head>
  <body>
    <div class="webPageShop-container">
      <h1>Shop</h1>
      <table>
        <thead>
          <tr>
            <td>Name:</td>
            <td>{{shop.name}}</td>
          </tr>
          <tr>
            <td>Rating:</td>
            <td>{{shop.rating}}</td>
          </tr>
        </thead>
      </table>
      <a class="seeAllShops" href="/See-all-shops">See all shops</a>
    </div>
  </body>
</html>