<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Web Page Shop Not Found</title>
  </head>
  <body>
    <div class="webPageShopNotFound">
      <h1>Shop Not Found</h1>
      <h2>No shop exists with ID {{id}}.</h2>
    </div>
  </body>
</html>